body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #828788;
   
}
img {
    width: 150px;
    height: auto;
    animation: spin 3.0s ease-out, zoom 0.5s ease-in-out 1.5s forwards;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(835deg);
    }
}

@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(200);
    }
}