/* Aplica box-sizing globalmente */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #828788;
    margin: 0;
    padding: 0;
}

.logo {
    width: 150px;
    height: auto;
    margin-top: 20px;
}

.logo-text {
    font-family: "PayPal Open TT";
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

.cancha-img {
    width: 400px; /* Reducido de su tamaño original */
    height: auto;
    margin: 10px 0;
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ligera para mejor apariencia */
}


form {
    background-color: black; /* Fondo negro para el formulario */
    color: #828788; /* Color de texto gris */
    padding: 20px;
    border-radius: 10px;
    max-width: 350px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #828788; /* Asegura que el título sea del color gris */
}

.inputs {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

label {
    font-size: 16px;
    font-weight: bold;
    align-self: center;
    color: #828788; /* Color gris para las etiquetas */
}

input {
    width: 45%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
}

button {
    background-color: #828788;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #828788;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#resultado {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #828788; /* Color gris para los resultados */
}

#total {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #828788; /* Color gris para el total */
}

/* Responsividad: hacer inputs y formulario más amigables en pantallas pequeñas */
@media (max-width: 600px) {
    .inputs {
        flex-direction: column;
        align-items: center;
    }

    input {
        width: 80%; /* Los inputs ocuparán más espacio en pantallas pequeñas */
        margin-bottom: 10px;
    }

    form {
        width: 90%; /* El formulario ocupará más espacio en pantallas pequeñas */
    }

    button {
        width: 100%; /* El botón ocupa todo el ancho en dispositivos móviles */
    }
}
