/* Aplica box-sizing globalmente */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    /* Fondo adaptado */
    background-image: url('fonde pelota basket.png');
    background-size: cover;       /* La imagen cubre todo el fondo */
    background-position: center;  /* Centrada */
    background-repeat: no-repeat; /* Sin repetición */
    height: 100vh;                /* Altura completa de la ventana */
}

.logo {
    width: 150px;
    height: auto;
    margin-top: 20px;
}

.logo-text {
    font-family: "PayPal Open TT", Arial, sans-serif;
    font-size: 16px;
    color: white;
    margin-top: 10px;
}

.cancha-img {
    width: 400px; /* Reducido de su tamaño original */
    height: auto;
    margin: 10px 0;
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(255,245,230,255); /* Sombra ligera para mejor apariencia */
}

/* Aplicamos la fuente solo dentro del formulario */
form {
    background-color: white;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0px 0px 12px rgba(255,245,230,255);
    width: 350px;
    height: auto;
    overflow: auto;

    font-family: "PayPal Open TT", Arial, sans-serif; /* <-- Aquí la fuente aplicada */
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000; /* Asegura que el título sea del color gris */
}

.inputs {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

label {
    font-size: 16px;
    font-weight: bold;
    align-self: center;
    color: #000000; /* Color gris para las etiquetas */
}

input {
    width: 45%;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
}

button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #828788;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#resultado {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #000000; /* Color gris para los resultados */
}

#total {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #000000; /* Color gris para el total */
}

/* Responsividad: hacer inputs y formulario más amigables en pantallas pequeñas */
@media (max-width: 600px) {
    .inputs {
        flex-direction: column;
        align-items: center;
    }

    input {
        width: 80%; /* Los inputs ocuparán más espacio en pantallas pequeñas */
        margin-bottom: 10px;
    }

    form {
        width: 90%; /* El formulario ocupará más espacio en pantallas pequeñas */
    }

    button {
        width: 100%; /* El botón ocupa todo el ancho en dispositivos móviles */
    }
}
